name: build

on:
  schedule:
    - cron: "35 9 * * 2"
  push:
    branches:
      - master
    tags:
      - v**
  release:
    types: [published]
  pull_request:
  workflow_dispatch:
    inputs:
      type:
        description: 'Build type (`debug` or `release`)'
        default: 'debug'
        required: true

# Tip: Use below action to debug with SSH.
#      - name: Setup upterm session
#        uses: lhotari/action-upterm@v1
# On Windows:
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3
 
jobs:
  prelude:
    runs-on: ubuntu-22.04
    outputs:
      matrix-windows: ${{ steps.set-matrix-windows.outputs.matrix_windows }}
      matrix-others: ${{ steps.set-matrix-others.outputs.matrix_others }}
    steps:
    - name: Create Build Matrix (Windows)
      id: set-matrix-windows
      run: |
        if [[ '${{ github.event_name }}' == "schedule" || '${{ github.event.inputs.type }}' == "release" || '${{ github.ref }}' == "refs/tags/v"* ]]; then 
            matrix="{deps: ['standard'], arch: ['x86_64'], configuration: ['Release']}"
        else
            matrix="{deps: ['debug'], arch: ['x86_64'], configuration: ['Debug']}"
        fi
        echo "matrix_windows=$matrix" >> $GITHUB_OUTPUT
    - name: Create Build Matrix (Linux/macOS)
      id: set-matrix-others
      run: |
        if [[ '${{ github.event_name }}' == "schedule" || '${{ github.event.inputs.type }}' == "release" || '${{ github.ref }}' == "refs/tags/v"* ]]; then 
            matrix="{os: ['ubuntu-22.04', 'macos-13', 'macos-15'], deps: ['standard', 'headless'], configuration: ['Release']}"
        else
            matrix="{os: ['ubuntu-22.04', 'macos-13', 'macos-15'], deps: ['debug'], configuration: ['Debug']}"
        fi
        echo "matrix_others=$matrix" >> $GITHUB_OUTPUT
    - name: Remove Release (scheduled build only)
      if: github.event_name == 'schedule' || github.event.inputs.type == 'release'
      uses: dev-drprasad/delete-tag-and-release@v0.2.1
      with:
        delete_release: true
        tag_name: weekly-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  upload-source-code:
    runs-on: ubuntu-22.04
    needs: prelude
    steps:
      - name: Checkout GDL
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Compress Source Code Distribution
        id: step-compress-source-code
        run: |
          RELEASE_NAME=
          if [[ '${{ github.event_name }}' == "schedule" || '${{ github.event.inputs.type }}' == "release" ]]; then
            RELEASE_NAME="unstable-${GITHUB_SHA:0:7}"
          elif [[ '${{ github.ref }}' == "refs/tags/v"* ]]; then
            RELEASE_NAME="${GITHUB_REF_NAME}"
          fi
          if [[ ! -z "${RELEASE_NAME}" ]]; then
            cp -r $PWD /tmp/gdl-${RELEASE_NAME}
            cmake -D SRC=/tmp/gdl-${RELEASE_NAME}/src/version.hpp.in -D DST=/tmp/gdl-${RELEASE_NAME}/src/version.hpp -D GIT_EXECUTABLE=git -P /tmp/gdl-${RELEASE_NAME}/CMakeModules/GenerateVersionHeader.cmake 
            rm -rf /tmp/gdl-${RELEASE_NAME}/.git
            cd /tmp
            rm /tmp/gdl-${RELEASE_NAME}/src/version.hpp.in
            tar czf "/tmp/gdl-${RELEASE_NAME}.tar.gz" gdl-${RELEASE_NAME}
            echo "released=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Upload Release Assets (unstable)
        if: (github.event_name == 'schedule' || github.event.inputs.type == 'release') && steps.step-compress-source-code.outputs.released == 'true'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "/tmp/gdl-*.tar.gz"
          name: Weekly Binary Release (unstable)
          body: Weekly Binary Release (unstable)
          prerelease: true
          allowUpdates: true
          replacesArtifacts: true
          commit: ${{ github.sha }}
          tag: weekly-release
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release Assets (stable)
        if: startsWith(github.ref, 'refs/tags/v') && steps.step-compress-source-code.outputs.released == 'true'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "/tmp/gdl-*.tar.gz"
          name: ${{ github.event.release.tag_name }}
          prerelease: false
          allowUpdates: true
          replacesArtifacts: true
          commit: ${{ github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}

  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: gdl.flatpak
          manifest-path: org.gnome.zbrown.Palette.yml #certainly NOT that, just a test
          cache-key: flatpak-builder-${{ github.sha }}
          arch: ${{ matrix.variant.arch }}
          verbose: true
      - name: Checkout GDL
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Dependencies
        run: |
          scripts/build_gdl.sh prep    
      - name: Build GDL
        run: |
          scripts/build_gdl.sh configure
          scripts/build_gdl.sh build
      - name: Package GDL
        run: |
          scripts/build_gdl.sh install
          scripts/build_gdl.sh pack
          scripts/build_gdl.sh prep_deploy
