name: build

on:
  schedule:
    - cron: "0 0 * * 2"
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

# Tip: Use this action to debug with SSH.
#      - name: Setup upterm session
#        uses: lhotari/action-upterm@v1
 
jobs:
  prelude:
    runs-on: ubuntu-latest
    outputs:
      matrix-windows: ${{ steps.set-matrix-windows.outputs.matrix-windows }}
      matrix-others: ${{ steps.set-matrix-others.outputs.matrix-others }}
    steps:
    - name: Create Build Matrix (Windows)
      id: set-matrix-windows
      run: |
        if [[ '${{ github.event_name }}' == "schedule" ]]; then 
            matrix="{deps: ['full-msmpi', 'full', 'mini'], arch: ['x86_64', 'i686'], configuration: ['Release']}"
        else
            matrix="{deps: ['full-msmpi'], arch: ['x86_64'], configuration: ['Debug']}"
        fi
        echo "::set-output name=matrix-windows::$matrix"
    - name: Create Build Matrix (Linux/macOS)
      id: set-matrix-others
      run: |
        if [[ '${{ github.event_name }}' == "schedule" ]]; then 
            matrix="{os: ['ubuntu-latest', 'macos-latest'], deps: ['full', 'mini'], configuration: ['Release']}"
        else
            matrix="{os: ['ubuntu-latest', 'macos-latest'], deps: ['full'], configuration: ['Debug']}"
        fi
        echo "::set-output name=matrix-others::$matrix"
    - name: Remove Release (scheduled build only)
      if: github.event_name == 'schedule'
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      with:
        delete_release: true
        tag_name: weekly-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build-linux-macos:
    runs-on: ${{ matrix.os }}
    needs: prelude
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prelude.outputs.matrix-others) }}
    env:
      DEPS: ${{ matrix.deps }}
      Configuration: ${{ matrix.configuration }}
      ROOT_DIR: ${{ github.workspace }}/..
    steps:
      - name: Checkout GDL
        uses: actions/checkout@v2
      - name: Cache Dependencies (macOS, Homebrew)
        if: matrix.os == 'macos-latest'
        id: cache
        uses: actions/cache@v2
        with:
          path: ${{ runner.temp }}/cache
          key: cache-gdl-deps-${{ matrix.os }}-v3.1
      - name: Install Dependencies (macOS, Homebrew)
        if: matrix.os == 'macos-latest' && steps.cache.outputs.cache-hit != 'true'
        run: |
          find /usr/local -path /usr/local/miniconda -prune -false -or -type l -or -type f | sort > ~/snapshot1.txt
          .ci/build_gdl.sh prep
          find /usr/local -path /usr/local/miniconda -prune -false -or -type l -or -type f | sort > ~/snapshot2.txt
          echo "Setting up cache..."
          mkdir -p ${{ runner.temp }}/cache
          for fn in $(comm -13 ~/snapshot1.txt ~/snapshot2.txt); do
            rsync -aR ${fn} ${{ runner.temp }}/cache || true
          done
      - name: Install Dependencies (Linux, Apt)
        if: matrix.os == 'ubuntu-latest'
        run: |
          .ci/build_gdl.sh prep
      - name: Restore cache (macOS, Homebrew)
        if: matrix.os == 'macos-latest' && steps.cache.outputs.cache-hit == 'true'
        run: |
          cd ${{ runner.temp }}
          for d in `ls cache`; do
            sudo rsync -rt --links --no-t --inplace cache/$d/ /$d
          done
      - name: Build GDL
        run: |
          .ci/build_gdl.sh build
      - name: Package GDL
        run: |
          .ci/build_gdl.sh prep_deploy
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v2.2.1
        with:
          path: gdl-*-${{ matrix.deps }}.zip
          name: GDL (${{ matrix.os }}, ${{ matrix.deps }}, ${{ matrix.configuration }})
      - name: Upload Release Assets
        if: github.event_name == 'schedule' && matrix.os == 'macos-latest'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "gdl-*-${{ matrix.deps }}.zip"
          name: Weekly Binary Release (unstable)
          body: Weekly Binary Release (unstable)
          prerelease: true
          allowUpdates: true
          replacesArtifacts: true
          commit: ${{ github.sha }}
          tag: weekly-release
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test GDL
        run: |
          .ci/build_gdl.sh check || exit 0
  build-windows:
    runs-on: windows-latest
    needs: prelude
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.prelude.outputs.matrix-windows) }}
    env:
      DEPS: ${{ matrix.deps }}
      WORKSPACE: ${{ github.workspace }}
      Platform: ${{ matrix.arch }}
      Configuration: ${{ matrix.configuration }}
    steps:
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          update: false
          release: false
          install: >-
            mingw-w64-${{ matrix.arch }}-toolchain
            mingw-w64-${{ matrix.arch }}-cmake
            mingw-w64-${{ matrix.arch }}-nsis
            zip
            unzip
            tar
            zstd
            make
            git
            rsync
      - name: Checkout GDL
        uses: actions/checkout@v2
      - name: Cache Dependencies
        if: matrix.arch == 'x86_64'
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            C:\msys64\cache
          key: cache-gdl-deps-windows-msys2-${{ matrix.arch }}-v5
      - name: Check Version of Latest GDL Workbench
        if: matrix.arch == 'x86_64'
        id: gdl_workbench
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: gnudatalanguage/gdlde
      - name: Install MSMPI
        if: matrix.deps == 'full-msmpi'
        run: |
          Invoke-WebRequest -Uri https://download.microsoft.com/download/a/5/2/a5207ca5-1203-491a-8fb8-906fd68ae623/msmpisetup.exe -OutFile MSMpiSetup.exe
          .\MSMpiSetup.exe -unattend
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        shell: msys2 {0}
        run: |
          pacman -Q | tr ' ' '-' | sort > ~/snapshot1.txt
          .ci/build_gdl.sh prep
          ls ../MINGW-packages/mingw-w64-graphicsmagick/
          mv ../MINGW-packages/mingw-w64-graphicsmagick/mingw-w64-*-graphicsmagick-*.tar.* /var/cache/pacman/pkg
          pacman -Q | tr ' ' '-' | sort > ~/snapshot2.txt
          echo "Setting up cache..."
          mkdir -p /cache
          for package in $(comm -13 ~/snapshot1.txt ~/snapshot2.txt); do
            echo "Caching ${package}..."
            fn=`ls /var/cache/pacman/pkg/${package}-*.tar.{gz,bz2,xz,zst} 2> /dev/null || true`
            tar xf $fn -C /cache
          done
          ADDTIONAL_FILES=( /mingw*/bin/mgwxdr-0.dll
                            /mingw*/lib/libbsdxdr.*
                            /mingw*/include/rpc/types.h
                            /mingw*/include/rpc/xdr.h )
          for fn in ${ADDTIONAL_FILES[@]}; do
            cp --parents ${fn} /cache
          done
      - name: Restore Cache
        if: steps.cache.outputs.cache-hit == 'true'
        shell: msys2 {0}
        run: |
          rsync -rt --no-t --inplace /cache/ /
      - name: Setup Python (64 bit)
        id: setup-python-64
        uses: actions/setup-python@v2
        if: matrix.arch == 'x86_64' && (matrix.deps == 'full-msmpi' || matrix.deps == 'full')
        with:
          python-version: '3.x'
          architecture: x64
      - name: Setup Python (32 bit)
        id: setup-python-32
        uses: actions/setup-python@v2
        if: matrix.arch == 'i686' && (matrix.deps == 'full-msmpi' || matrix.deps == 'full')
        with:
          python-version: '3.x'
          architecture: x86
      - name: Install Numpy
        if: matrix.deps == 'full-msmpi' || matrix.deps == 'full'
        run: pip install numpy
      - name: Build GDL
        shell: msys2 {0}
        run: |
          export PATH=`cygpath "${pythonLocation}"`:$PATH
          export PYTHON_EXECUTABLE=`cygpath "${pythonLocation}"`/python
          if [[ -n "${{ steps.setup-python-32.outputs.python-version }}" ]]; then
            export PYTHONVERSION="${{ steps.setup-python-32.outputs.python-version }}"
          else
            export PYTHONVERSION="${{ steps.setup-python-64.outputs.python-version }}"
          fi
          .ci/build_gdl.sh build
      - name: Package GDL
        shell: msys2 {0}  
        run: |
          export GDLDE_VERSION=${{ steps.gdl_workbench.outputs.release }}
          .ci/build_gdl.sh pack
          .ci/build_gdl.sh prep_deploy
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v2.2.1
        with:
          name: GDL Installer (${{ matrix.deps }}, ${{ matrix.arch }}, ${{ matrix.configuration }})
          path: gdlsetup-*-${{ matrix.deps }}.exe
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v2.2.1
        with:
          name: GDL (windows-latest, ${{ matrix.deps }}, ${{ matrix.arch }}, ${{ matrix.configuration }})
          path: gdl-*-${{ matrix.deps }}.zip
      - name: Upload Release Assets
        if: github.event_name == 'schedule'
        uses: ncipollo/release-action@v1
        with:
          artifacts: "gdlsetup-*-${{ matrix.deps }}.exe,gdl-*-${{ matrix.deps }}.zip"
          name: Weekly Release (unstable)
          prerelease: true
          allowUpdates: true
          replacesArtifacts: true
          tag: weekly-release
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test GDL
        shell: msys2 {0}
        run: |
          export PATH=`cygpath "${pythonLocation}"`:$PATH
          .ci/build_gdl.sh check || exit 0
